<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Neil's Site{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
</head>
<body>
  <div id="terminal">
  <nav class="window-line" data-path="{{ request.path }}">
    <a></a>
  </nav>
  <main>
    
    <nav class="prompt-line" data-path="{{ request.path }}">
      <span class="com">neil@portfolio:~{{ request.path }} $ ls -d */</span>
      <a href="{{ url_for('main.index') }}">Home</a>
      <a href="{{ url_for('main.index') }}">Home_2</a>
    </nav>
    {% block terminal %}{% endblock %}
  </main>
  </div>
</body>
</html>